@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.container2 {
  backdrop-filter: blur(16px);
  color: white;
  font-size: xx-large;
  font-family: "Kanit";
  position: absolute;
  margin-left: 55px;
  background-color: #0406079c;
  margin-top: 3.5%;
  width: 90%;
  border-radius: 50px;
}

.back {
  margin-top: 20px;
  border: none;
  color: white;
}

.ciudad {
  margin-top: -7%;
  background-color: rgba(0, 0, 0, 0.582);
  position: relative;
  border-radius: 10px;
}

.info {
  margin-top: -7%;
}
