@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.buscador {
  font-family: "Kanit";
  color: white;
  padding: 3px;
  width: 150px;
  border-radius: 5px;
  border: none;
  margin-left: 35rem;
  outline: none;
  position: absolute;
  margin-top: 15%;
  background-color: rgba(0, 0, 0, 0.541);
}

.btnBuscar {
  margin-left: 37%;
  font-family: "Kanit";
}

.btnSearch {
  display: inline-block;
  background-color: rgba(240, 248, 255, 0.425);
  border-radius: 10px;
  margin-left: 45rem;
  margin-top: 15%;
  color: white;
  position: absolute;
}

input::placeholder {
  color: white;
}
